* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*.before,
*.after {
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    font-family: "Dosis", sans-serif;
    font-family: "Open Sans", sans-serif;
    line-height: 30px;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/* ------------------------------- */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    margin: 0 auto;
    font-family: "Dosis", sans-serif;
    font-family: "Josefin Slab", serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Playfair Display", serif;
    font-family: "Poiret One", cursive;
}

.content {
    min-height: 50vw;
    padding: 10px 0;
    margin: 0;
}

/* ----------Промо---------- */

.promo_1 {
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}
.title {
    display: inline-block;
    padding: 10px;
    background: #00000083;
    font-size: 40px;
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-weight: 700;
}
.promo_1__photo {
    width: 30%;
    padding: 10px;

    margin: 5% 15%;
}
.promo_1__about {
    font-size: 18px;
    letter-spacing: 6px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.promo_1__list li {
    padding: 0 0 20px 30px;
    background: url("img/icon.png") 0 5px no-repeat;
}

.promo_1__buy {
    min-width: 200px;
    background: rgb(27, 128, 1);
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    letter-spacing: 0.5rem;
}

.promo_1__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.wrapper_2 {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    max-width: 1200px;
}

/* ----------Кнопка---------- */

.buy {
    width: 200px;
    background: rgb(27, 128, 1);
    color: #fff;
    padding: 10px 15px;
    margin: 20px auto;
    border-radius: 10px;
    letter-spacing: 0.5rem;
}
.buy:hover {
    background: rgb(35, 166, 2);
    transform: scale(1.1, 1.1);
    transition: 0.5s;
}
.buy:active {
    background: rgb(35, 166, 2);
    transform: scale(0.8, 0.8);
    transition: 0.5s;
}
.buy:disabled {
    background: rgba(24, 110, 3, 0.481);
}

/* ----------Состаав---------- */

.ingredients {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ingredients__column_1,
.ingredients__column_3 {
    max-width: 100%;
}
.ingridients__card {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.4);
    margin: 3%;
    padding: 10px;
    height: 100%;
}
.card {
    display: flex;
}
.ingredients__column_1 img,
.ingredients__column_3 img {
    border-radius: 50%;
}
.card__photo {
    margin: 10px;
    margin-left: 0px;
    min-width: 110px;
    min-height: 110px;
    max-width: 110px;
    max-height: 110px;
}
.card__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    max-width: 100%;
}
.ingredients__column_2 {
    background: #00000098;
    padding: 20px 30px;
}
.ingredients__column_2 .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 300px;
}
.card__prod-photo {
    max-width: 100px;
}

/* ----------Отзывы---------- */

.reviews {
    background: linear-gradient(to bottom, #6e529d 0%, #d97b93 100%);

    position: relative;
    height: 530px;
    margin: 0;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow_right,
.arrow_left {
    position: absolute;
    top: 0;
    height: 100%;
    width: 10%;
    background: rgba(0, 0, 0, 0.3);
}
.arrow_right {
    right: 0;
}
.arrow_left {
    left: 0;
}

.arrow_right img,
.arrow_left img {
    position: absolute;
    top: 45%;
    opacity: 0.5;
    max-width: 40px;
    max-height: 56px;
}
.arrow_right img {
    right: 10%;
}
.arrow_left img {
    left: 10%;
}
.reviews__carousel {
    position: relative;
    overflow: hidden;
    width: 80%;
    min-height: 100%;
    max-width: 800px;
}

.reviews__buyer_1,
.reviews__buyer_2,
.reviews__buyer_3 {
    position: absolute;
    top: 0;
    left: 100%;
    object-fit: cover;
}

.active {
    left: 0;
}
.buyer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    height: 100%;
    min-width: 100%;
    font-size: 16px;
}

.buyer__photo {
    background: #a1a1a1;
    margin: 15px 10% 0;
    min-width: 90%;
    height: 50%;
}
.buyer__name {
    margin: 15px 10% 0;
    font-weight: 600;
}
.buyer__text {
    margin: 15px 10% 0;
}

/* ----------background---------- */
.ingredients,
.promo_2 {
    background-image: radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px),
        radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
        radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
        radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 20px 40px, 110px 250px, 50px 800px;
}
.promo_2 {
    background-color: #d97b93;
}
.ingredients {
    background-color: #6e529d;
}
/* ----------Промо---------- */

.promo_2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;

    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 10px;
}
.wrapper_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.promo_2__photo,
.promo_2__text,
.promo_2__characteristic {
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
}
.promo_2__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ----------Форма заказа---------- */

.order {
    background: linear-gradient(to bottom, #d97b93 0%, #6e529d 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}
.order__title {
    color: #fff;
    background: rgba(102, 17, 51, 0.752);
    font-size: 40px;
    font-weight: 900;
    padding: 15px;
}
.order__sale {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    margin: 20px 0;
}
.order__timer {
    display: flex;
    align-items: center;
}
.order__timer li {
    background: #00000083;
    border-radius: 5px;
    width: 80px;
    padding: 15px 10px;
    color: rgb(250, 23, 193);
    font-weight: 600;
    font-size: 40px;
    margin: 20px 5px;
    text-align: center;
}
.order__cost {
    display: flex;
    align-items: center;
}
.order__cost_1 {
    margin: 10px;
    font-size: 40px;
    animation: circle 0.5s linear infinite alternate running 0s;
}

@keyframes circle {
    0% {
        transform: scale(0.9, 0.9);
    }
    100% {
        transform: scale(1.1, 1.1);
    }
}
.order__cost_2 {
    margin: 10px;
    font-size: 15px;
    text-decoration: line-through;
}
.order__form {
    position: relative;
    background: #00000083;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__row label {
    display: block;
    color: rgb(196, 196, 196);
    line-height: 1rem;
    transform: translate(1rem, 3.5rem);
    transition: 0.5s;
}

label.label_active {
    text-align: end;
    transform: translate(-1rem, 2.7rem);
    font-size: 10px;
    font-weight: 600;
}

.order__name,
.order__phone {
    position: relative;
    z-index: 1;
    display: block;
    padding: 15px 10px 10px;
    border-radius: 5px;
    margin: 20px 0 0;
    width: 300px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.order__photo {
    max-width: 30%;
    padding: 10px;
}

.valid {
    border: 1px solid green;
}

.invalid {
    border: 1px solid red;
}

/* ----------- */

@media (max-width: 479px) {
    .order__sale {
        flex-direction: column;
    }
    .card__photo {
        margin: 5px;
    }
}
@media (min-width: 480px) {
    .wrapper_2 {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 630px) {
    .promo_1__photo {
        width: 30%;
        padding: 10px;
    }

    .ingredients {
        flex-direction: row;
    }

    .ingredients__column_1,
    .ingredients__column_3 {
        width: 33%;
    }
    .ingridients__card {
        margin: 3%;
        padding: 5px;
    }
    .card {
        flex-direction: column;
        height: 30%;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .card__photo {
        margin: 15px 0 0;
    }
    .card__text {
        padding: 0 5px;
        margin: 15px 5px;
    }
    .ingredients__column_2 {
        max-width: 34%;
        margin: auto 0;
        background: none;
        padding: 10px 20px;
    }
    .ingredients__column_2 .card {
        background: #00000098;
        max-height: 50%;
        padding: 20px;
    }
    button.ingredient__buy {
        width: 100%;
    }
    /* ------- */
    .arrow_right img,
    .arrow_left img {
        max-width: 40px;
        max-height: 90px;
    }
    /* ---------- */
    .promo_2__characteristic {
        width: 100%;
        max-width: 1200px;
    }
    .promo_2__items {
        display: flex;
        justify-content: space-around;
    }
    .promo_2__items li {
        margin: 0 10px;
    }

    /* ----------- */

    .wrapper_1 {
        flex-direction: row-reverse;
        background: #00000083;
        width: 100%;
    }

    .order {
        padding-bottom: 50px;
    }
    .order__form {
        background: none;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .order__photo {
        max-width: 30%;
        padding: 20px;
    }
}

@media (min-width: 769px) {
    .title {
        font-size: 60px;
        background: #00000083;
    }

    .wrapper {
        max-width: 1200px;
        flex-direction: row;
    }

    .promo_1__photo {
        width: 25%;
        padding: 40px;
        margin: 0 10%;
    }
    .promo_1__about {
        width: 50%;
        font-size: 40px;
    }

    .card__text {
        font-size: 18px;
    }

    .buyer {
        font-size: 20px;
    }

    .promo_2__photo {
        width: 50%;
        margin-right: 10px;
    }

    .promo_2__text {
        width: 50%;
        font-size: 20px;
    }

    .order {
        padding-bottom: 0px;
    }
}
@media (min-width: 900px) {
    .card {
        flex-direction: row;
        align-items: stretch;
        justify-content: space-around;
    }
}
@media (min-width: 1020px) {
    .card__photo {
        margin: 40px 10px;
        margin-left: 0px;
        min-width: 130px;
        min-height: 130px;
        max-width: 130px;
        max-height: 130px;
    }
    .card {
        flex-direction: row;
        align-items: stretch;
        justify-content: space-around;
    }
}
