* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*.before,
*.after {
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    font-family: "Dosis", sans-serif;
    font-family: "Open Sans", sans-serif;
    line-height: 30px;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/* ------------------------------- */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    margin: 0 auto;
    font-family: "Dosis", sans-serif;
    font-family: "Josefin Slab", serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Playfair Display", serif;
    font-family: "Poiret One", cursive;
}

.content {
    min-height: 400px;
    padding: 20px 0;
}

/* ----------Промо---------- */

.promo_1 {
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}
.title {
    font-size: 40px;
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-weight: 700;
}
.promo_1__photo {
    width: 50%;
    padding: 10px;
}
.promo_1__about {
    font-size: 18px;
    letter-spacing: 6px;
    padding: 10px;
}
.promo_1__list li {
    padding: 0 0 20px 30px;
    background: url("img/icon.png") 0 5px no-repeat;
}

.promo_1__buy {
    min-width: 200px;
    background: rgb(27, 128, 1);
    color: #fff;
    padding: 10px 15px;
    margin: 20px 0;
    border-radius: 10px;
    letter-spacing: 0.5rem;
}

.promo_1__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* ----------Кнопка---------- */

.buy {
    width: 200px;
    background: rgb(27, 128, 1);
    color: #fff;
    padding: 10px 15px;
    margin: 20px 0;
    border-radius: 10px;
    letter-spacing: 0.5rem;
}

/* ----------Состаав---------- */

.ingredients {
    display: flex;
    flex-direction: column;

    background: radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
        radial-gradient(at 100% 100%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px), #8a3;
    background-size: 20px 20px;
}
.ingredients__column_1 {
    max-width: 100%;
}
.ingridients__card {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.4);
    margin: 3%;
    padding: 10px;
    height: 100%;
}
.card {
    display: flex;
}
.ingredients__column_1 img,
.ingredients__column_3 img {
    border-radius: 50%;
}
.card__photo {
    margin: 10px;
    margin-left: 0px;
    min-width: 135px;
    min-height: 135px;
    max-width: 135px;
    max-height: 135px;
}
.card__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    max-width: 100%;
}
.ingredients__column_2 {
    background: #00000098;
    padding: 20px 30px;
}
.ingredients__column_2 .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 300px;
}
.card__prod-photo {
    max-width: 100px;
}

.ingredient__buy {
}
.ingredients__column_3 {
    max-width: 100%;
}

/* ----------Отзывы---------- */

.reviews {
    position: relative;
    height: 600px;
    margin: 0;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgb(254, 252, 234);
    background: -moz-linear-gradient(-45deg, rgba(254, 252, 234, 1) 0%, rgba(255, 255, 58, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(254, 252, 234, 1) 0%, rgba(255, 255, 58, 1) 100%);
    background: linear-gradient(135deg, rgba(254, 252, 234, 1) 0%, rgba(255, 255, 58, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#ffff3a',GradientType=1 );
}

.arrow_right,
.arrow_left {
    height: 100%;
    width: 10%;
    background: rgba(0, 0, 0, 0.3);
}
.arrow_right {
    position: absolute;
    top: 0;
    right: 0;
}
.arrow_left {
    position: absolute;
    top: 0;
    left: 0;
}
.reviews__carousel {
    position: relative;
    overflow: hidden;
    min-width: 80%;
    min-height: 100%;
}

.reviews__buyer_1 {
    position: absolute;
    top: 0;
    left: 100%;
}
.reviews__buyer_2 {
    position: absolute;
    top: 0;
    left: 100%;
}
.reviews__buyer_3 {
    position: absolute;
    top: 0;
    left: 100%;
}
.active {
    left: 0;
}
.buyer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 520px;
    min-width: 100%;
}

.buyer__photo {
    background: #a1a1a1;
    margin: 15px 10% 0;
    min-width: 90%;
    height: 50%;
}
.buyer__name {
    margin: 15px 10% 0;
    font-weight: 600;
}
.buyer__text {
    margin: 15px 10% 0;
}

/* ----------Промо---------- */

.promo_2 {
    background: radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
        radial-gradient(at 100% 100%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px), #8a3;
    background-size: 20px 20px;

    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;

    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.promo_2__photo {
    margin: 10px;
}

.promo_2__text,
.promo_2__characteristic {
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}
.promo_2__buy {
}

/* ----------Форма заказа---------- */

.order {
    background-image: radial-gradient(
            closest-side,
            transparent 0%,
            transparent 75%,
            #b6cc66 76%,
            #b6cc66 85%,
            #edffdb 86%,
            #edffdb 94%,
            #ffffff 95%,
            #ffffff 103%,
            #d9e6a7 104%,
            #d9e6a7 112%,
            #798b3c 113%,
            #798b3c 121%,
            #ffffff 122%,
            #ffffff 130%,
            #e0ead7 131%,
            #e0ead7 140%
        ),
        radial-gradient(
            closest-side,
            transparent 0%,
            transparent 75%,
            #b6cc66 76%,
            #b6cc66 85%,
            #edffdb 86%,
            #edffdb 94%,
            #ffffff 95%,
            #ffffff 103%,
            #d9e6a7 104%,
            #d9e6a7 112%,
            #798b3c 113%,
            #798b3c 121%,
            #ffffff 122%,
            #ffffff 130%,
            #e0ead7 131%,
            #e0ead7 140%
        );
    background-size: 110px 110px;
    background-color: #c8d3a7;
    background-position: 0 0, 55px 55px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}
.order__title {
    color: #fff;
    background: rgba(102, 17, 51, 0.752);
    font-size: 40px;
    font-weight: 900;
    padding: 15px;
}
.order__sale {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    margin: 20px 0;
}
.order__timer {
    margin: 10px;
    font-size: 30px;
}
.order__cost_1 {
    margin: 10px;
    font-size: 30px;
}
.order__cost_2 {
    margin: 10px;
    font-size: 15px;
    text-decoration: line-through;
}
.order__form {
    background: #00000083;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order__name,
.order__phone {
    display: block;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0 0;
    width: 200px;
}
button.order__buy {
}
.order__photo {
    max-width: 30%;
    padding: 10px;
}

@media (min-width: 426px) {
}

@media (min-width: 769px) {
}
